/* Tamanho xs (0px à 575px) - GLOBAL */
    /* Banner 1 -------------------------------- */
    #banner-1
    {
        background-image: linear-gradient(to bottom left, #fda860, #fcbb7b);
        overflow: hidden;
    }

    #banner-1 h1
    {
        color: white;
        text-shadow: gray 1px 1px;
    }

    /* Banner 2 -------------------------------- */
    #banner-2 img
    {
        position: relative;
        margin-top: -50px;
        border-radius: 20px;
        z-index: 10;
    }

    #banner-2 p
    {
        position: relative;
        margin-top: -160px;
        z-index: 11;
    }

    /* Banner 3 -------------------------------- */
    #banner-3 img
    {
        position: relative;
        z-index: 9;
        margin-top: -20px;
        transition: margin-top 1s;
    }
  
    /* Banner 4 -------------------------------- */  
    #banner-4
    {
        position: relative;
        margin-top: -10%;
        z-index: 11;
    }

    /* Banner 5 -------------------------------- */ 
    #banner-5
    {
        position: relative;
        margin-top: -29%;
        z-index: 12;
    }

    #banner-5 h2
    {
        font-size: 1.3em;
    }

    #banner-5 p
    {
        font-size: .8rem;
    }

    /* Banner 7 -------------------------------- */ 
    #banner-7
    {
        min-height: 70px;
        background-color: var(--color-primary-mrpds);
    }

/* Tamanho sm  (576px à 767px) */
@media (min-width: 576px) { 

    #banner-1 h1 strong#destaque
    {
        font-size: 3rem;
        font-weight: 800;
    }

    #banner-1 img
    {
        position: relative;
        right: -50px;
    }

    /* Banner 2 -------------------------------- */
    #banner-2 img
    {
        position: relative;
        top: -20px;
    }

    #banner-2 p
    {
        position: relative;
        margin-top: -40%;
        margin-left: 50%;
        transition: font-size .5s;
    }

    /* Banner 3 -------------------------------- */
    #banner-3 img
    {
        position: relative;
        z-index: 9;
        margin-top: -40px;
    }

    
    /* Banner 5 -------------------------------- */ 
    #banner-5
    {
        position: relative;
        margin-top: -26%;
        padding-bottom: 10%;
    }

    #banner-5 h2
    {
        font-size: 1.5em;
    }

    #banner-5 p
    {
        font-size: 1rem;
    }
}

/* Tamanho md (768px à 991px) */
@media (min-width: 768px) { 
    #banner-2 p
    {
        font-size: 120%;
        margin-top: -40%;
        margin-left: 50%;
    }
}

/* Tamanho lg (992px à 1199px) */
@media (min-width: 992px) { 
    #banner-2 p
    {
        font-size: 130%;
        margin-top: -40%;
        margin-left: 50%;
    }
}

/* Tamanho xl (1200px à 1399px) */
@media (min-width: 1200px) { 
    #banner-2 p
    {
        font-size: 160%;
        margin-top: -40%;
        margin-left: 50%;
    }
        
    /* Banner 5 -------------------------------- */
    #banner-5
    {
        position: relative;
        margin-top: -20%;
        padding-bottom: 13%;
    }
}

/* Tamanho xxl (1400px à infinite) */
@media (min-width: 1400px) { 

    #banner-2 p
    {
        font-size: 150%;
        margin-top: -40%;
        margin-left: 50%;
        width: 400px;
    }
}